*{
    padding: 0px;
    margin: 0px;
    /* font-family: ; */
    /* Archivo */
    /* Inter */
}

:root{
    --fs-10:10px;
    --fs-14:14px;
    --fs-16:16px;
    --fs-18:18px;
    --fs-20:20px;
    --fs-24:24px;
    --fs-36:36px;
    --fs-48:48px;
    --fs-64:64px;
    --text-primary:#E0FF3B;
    --text-secondary:#FFFFFF;
    --text-tertiary:#171A1F;
    --text-gray:#BDBDBD;
    --text-light-gray:909090;
    --bg-green:green;
    --bg-green:green;
    --bg-green:green;
    --bg-green:green;
    --bg-green:green;
    --fw-400:400; /* Regular */
    --fw-400:500; /* Medium */
    --fw-400:600; /* Semibold */
    --fw-400:700; /* Bold */
}

.buiz_logo{
    width:25%;
}

.text-primary{
    color:var(--text-primary);
}

